ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

p{
  color: red;
}

.note{
  font-size: 20px;
}

#id-selector-demo{
  color: orange;
}

li[value="4"]{
  color: blue;
}

*{
  text-align: center;
}

